<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace属性：用来指定当前的映射文件和哪个接口进行映射，需要指定接口的文件路径，需要标注包的完整路径接口-->




<mapper namespace="com.expect.crm.mapper.UserMapper">
    
    <resultMap id="UserEntityMap" type="com.expect.crm.entity.User">
<!--        定义映射规则时主键是不可以省略的-->
        <id column="uid" property="uid"></id>
        <result column="is_delete" property="isDelete"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>
    
    
    

    <!--    id属性表示映射的接口中方法的名称-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        insert into t_user(
            username, password, salt, phone, email, gender, avator, is_delete,created_time,modified_time
        ) values(
                    #{username}, #{password}, #{salt}, #{phone}, #{email}, #{gender}, #{avator}, #{isDelete},#{createdTime},#{modifiedTime}
        )
    </insert>

    <select id="findByUsername" resultMap="UserEntityMap">
        select * from t_user where username=#{username}
    </select>
    
    <update id="updatePasswordByUid">
        update t_user set
            password=#{password},
            modified_time=#{modifiedTime}
        where uid=${uid}
    </update>

    <select id="findByUid" resultMap="UserEntityMap">
        select * from t_user where uid=#{uid}
    </select>

    <update id="updateInfoByUid">
        update t_user
        set
        <if test="phone!=null">phone=#{phone},</if>
        <if test="email!=null">email=#{email},</if>
        <if test="gender!=null">gender=#{gender},</if>
        modified_user=#{modifiedUser},
        modified_time=#{modifiedTime}
        where uid=${uid}
    </update>
    
    <update id="updateAvatarByUid">
        update t_user
        set
            avatar =#{avator},
            modified_time=#{modifiedTime}
        where
            uid=#{uid}
    </update>
    
    
</mapper>